# Problem 1: Unique Words in a Sentence

In [17]:
sentence = "python is easy and python is powerful"
words = sentence.split()
unique_words = set(words)
print("Unique words count: ",len(unique_words))
print("Unique words: ",unique_words)

Unique words count:  5
Unique words:  {'python', 'and', 'easy', 'powerful', 'is'}

# Problem 2: Highest Salary from Employee Data

In [18]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
high_emp = max(employees, key=employees.get)
print(f"Highest Salary: {high_emp} - {employees[high_emp]}")

Highest Salary: Ravi - 75000

# Problem 3: Find Maximum and Minimum Values

In [19]:
numbers = [45, 22, 89, 10, 66]
minimum = numbers[0]
maximum = numbers[0]
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num
print("List:", numbers)
print("Minimum:", minimum)
print("Maximum:", maximum)

List: [45, 22, 89, 10, 66]
Minimum: 10
Maximum: 89

# Problem 4: Count Products Above a Price Threshold

In [20]:
prices = [450, 1200, 899, 1500, 300]
count = 0
for i in prices:
  if i>1000:
    count += 1
print("Products above 1000: ",count)

Products above 1000:  2

# Problem 5: Calculate Attendance Percentage

In [21]:
attendance = ["P", "P", "A", "P", "P"]
count = 0
for i in attendance:
  if i=="P":
    count += 1
print("Attendance Percentage: ",count/len(attendance)*100)

Attendance Percentage:  80.0

# Problem 6: Remove Duplicate Phone Numbers

In [22]:
phone_numbers = [9876543210, 9123456789, 9876543210]
phone_numbers = set(phone_numbers)
print("Unique Phone Numbers: ",phone_numbers)

Unique Phone Numbers:  {9876543210, 9123456789}

# Problem 7: Count Character Frequency

In [ ]:
string = input()
freq = {}
for i in string:
  freq[i] = freq.get(i,0)+1
print(freq)

# Problem 8: Convert List to Tuple

In [ ]:
ls = [1,2,3,4,5]
t = tuple(ls)
print(t)

# Problem 9: Check if a Key Exists in a Dictionary

In [ ]:
map = {"harsha":75000,"Pratap":68000,"Prasad":72000}
key = "harsha"
if key in map:
  print("Employee exists")
else:
  print("Employee does not exist")

# Problem 10: Calculate Average Marks

In [ ]:
marks = [70, 75, 80, 65]
avg = sum(marks) / len(marks)
print("Average Marks: ",avg)